@model SecureCommunicationApp.Models.User

<h2>Create User</h2>

<form method="post" class="w-50">

    <div class="mb-2">
        <input asp-for="FullName" class="form-control" placeholder="Full Name" />
    </div>

    <div class="mb-2">
        <input asp-for="Email" class="form-control" placeholder="Email" />
    </div>

    <div class="mb-2">
        <select asp-for="Role" class="form-control">
            <option>Admin</option>
            <option>User</option>
            <option>Moderator</option>
        </select>
    </div>

    <button class="btn btn-success">Save</button>
</form>