@model SecureCommunicationApp.Models.User

<h1>Edit User</h1>

<form method="post">
    <input type="hidden" asp-for="UserId" />

    <input asp-for="FullName" />
    <br />

    <input asp-for="Email" />
    <br />

    <button type="submit">Update</button>
</form>